@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@layer base {
    h1 {
        @apply xl:text-4xl sm:text-3xl text-2xl font-bold leading-tight text-white;
    }

    h2 {
        @apply xl:text-3xl sm:text-2xl text-xl font-bold leading-tight text-white;
    }

    h3 {
        @apply text-xl font-bold leading-tight text-white;
    }

    input {
        @apply w-full outline-none text-gray-800 border rounded-sm px-4 py-2 bg-gray-50;
    }

    select {
        @apply w-full outline-none text-gray-800 border rounded-sm px-4 py-2 bg-gray-50;
    }

    label {
        @apply leading-tight text-white;
    }

    p {
        @apply leading-tight text-white;
    }
}

body {
    font-family: "Unbounded", sans-serif;
}

.game-container {
    @apply flex flex-col p-8 border border-gray-800 rounded-xl gap-4 w-240 max-w-[90%] items-center m-auto;
}

.gradient-reverse {
    background: linear-gradient(270deg, #230058 0%, #140033 48.56%, #0E0023 100%)
}

.wiki-wrapper {
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    white-space: normal;
    padding-bottom: 50px;
    word-wrap: break-word;

    p, h1, h2, h3 {
        margin: 0.5em 0;
        color: #202122;
        line-height: 1.65;
    }

    a {
        color: #36c;
        text-decoration: none;
        background: none;
    }

    .infobox {
        font-size: 90%;
        position: relative;
        border: 1px solid #eaecf0;
        margin-bottom: 2em;
        background-color: #f8f9fa;
        display: flex;
        flex: 1 1 100%;
        flex-flow: column nowrap;
    }

    .mw-heading {
        font-family: Linux Libertine, Georgia, Times, "Source Serif Pro", serif;
        font-weight: normal;
        border-bottom: 1px solid #a2a9b1;
        margin-bottom: .5em;
    }

    .mw-heading > h1, h2, h3, h4 {
        border-bottom: 0;
        font-size: 1.5em;
    }

    .wiki-wrapper .tocnumber {
        display: inline !important
    }

    .reference, .mw-editsection, .noprint, .mw-references-wrap, #External_links, #References {
        display: none
    }

    .wiki-wrapper .toc {
        display: table !important
    }

    .wiki-wrapper a:visited {
        color: #36c !important
    }
}

.notification-animation {
    animation: notification 5s ease-in-out forwards;
}

@keyframes notification {
    0% {
        opacity: 0;
        transform: translateX(1rem);
    }

    10% {
        opacity: 1;
        transform: translateX(0rem);
    }

    90% {
        opacity: 1;
        transform: translateX(0rem);
    }

    100% {
        opacity: 0;
        transform: translateX(1rem);
    }
}